/* Global */
body {
	box-sizing: border-box;
	margin: 0;
	background: #00334e;
}

h1 {
	color:#00334e;
	font-size: 25px;
	font-family: 'Roboto Slab', serif;
	font-weight: 100;
	letter-spacing: 7px;
 }

h2 {
	color: #719192;
	font-family: 'Noto Sans', sans-serif;
	font-size: 20;
	font-weight: 600;
}

a {
	text-decoration: none;
	color: #C8B6BC;
}

ul {
	padding: 0;
}

li {
	list-style: none;
}

.btn {
	display: inline-block;
	padding: 10px;
	font-size: 15px;
	border-radius: 7px;
	/* background: #e3c4a8; */
	color: #00334e;
	border: solid 1px #00334e;
	margin: 10px 0 20px 0;
	position: relative;
	transition: all .1s linear;
	background: #f1f1f1;
	cursor: pointer;
}

.btn:hover {
	background: #00334e;
	color: #f1f1f1;
}

#container {
	display: flex;
	justify-content: space-between;
	padding: 40px;
	color: #00334e;
	font-family: 'Noto Sans', sans-serif;
	font-size: 16px;
	font-weight: lighter;
	/* max-width: 1200px; */
}

#sidebar {
	width: 320px;
}

.img-circle {
	display: inline-block;
	border-radius: 100%;
	width: 100px;
	height: 100px;
	overflow: hidden;
}


/* Social Network */
.social-network {
	text-align: center;
	color: #f1f1f1;
}

.social-network h3 {
	margin: 40px 0;
}

.social-network ul li {
	position: relative;
	width: 30px;
	display: inline-block;
	margin: 0 20px;
}

.social-network ul li:after {
	content: '';
	display: block;
	position: absolute;
	width: 5px;
	height: 5px;
	bottom: -5px;
	left: -7px;
	background: #f1f1f1;
	border-radius: 100%;
	transition: all .2s ease-in-out;
}

.social-network ul li:hover:after {
	transform: translateX(30px);
}

.social-network img {
	width: 100%;
}

/* Content */
#content {
	flex: 1;
	margin-top: 30px;
	padding-left: 80px;
}

div[class*="block"] {
	display: flex;
}

.card-id {
	/* position: fixed; */
	padding: 10px;
	text-align: center;
	width: 300px;
	height: 300px;
	border-radius: 100%;
	background: #f1f1f1;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.6);

}

.card {
	/* max-width: 800px; */
	margin: 20px auto;
	padding: 60px;
	margin-bottom: 60px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.6);
	text-align: center;
	background: #f1f1f1;
}

.icon {
	position: relative;
	bottom: -3px;
	width: 25px;
	height: 25px;
	margin-left: 15px;
}

.block-left .card {
	border-radius: 5%;
}

.img-circle img {
	position: relative;
	top: -10px;
}

/* Form */
form {
	max-width: 500px;
	margin: 0 auto;
	text-align: left;
}

form label {
	display: block;
}

form input, form textarea {
	width: 100%;
	border: 0;
	height: 30px;
	margin: 10px 0;
	border-radius: 7px;
	padding: 7px;
}

form textarea {
	width: 100%;
	border: 0;
	height: 30px;
	margin: 10px 0;
	border-radius: 7px;
	min-height: 80px;
}

/*custom design with class*/
@media (max-width: 1000px) {
	#container {
		flex-direction: column;
	}
	#sidebar {
		width: 100%;
	}
	.card-id {
		position: static;
		margin: 0 auto;
	}
}







